@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f0f0f0;
  font-family: 'Rubik',sans-serif;
}

.cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 40px;
  margin-top: 120px;
}
.box {
  height: 180px;
  width: 180px;
  margin-right: 40px;
  margin-bottom: 60px;
  background-color: #FFFFFF;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

.parts {
  margin: 0 8px 0 8px;
  height: 40px;
  border-radius: 8px;
}


div {
  display: block;
}



.adj-line {
  content: '';
  border: 1px solid #8E8C8C;
  width: 40px;
  position: absolute;
  top: 90px;
  right: -40px;
  border-left: none;
  border-bottom: none;
  border-right: none;
} 

 .rightline{
  content: '';
  border: 1px solid #8E8C8C;
  width: 20px;
  height: 120px;
  position: absolute;
  border-left: none;
  border-bottom: none;
  top: 90px;
  left: 180px;
  visibility: hidden;
} 

 .leftline {
  position: absolute;
  width: 20px;
  height: 120px;
  border: 1px solid #8E8C8C;
  border-right: none;
  border-top: none;
  top: -29px;
  left: -20px;
  visibility: hidden;
} 


 .lineconnect {
  position: absolute;
  width: 880px;
  border: 1px solid #8E8C8C;
  border-left: none;
  border-right: none;
  border-bottom: none;
  top: 210px;
  right: -20px;
  z-index: 2;
}  

.circle::after {
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 178, 62, 0.984844)), to(rgba(255, 230, 0, 0.97)));
  background: linear-gradient(180deg, rgba(248, 178, 62, 0.984844) 0%, rgba(255, 230, 0, 0.97) 100%);
  position: absolute;
  top: 80px;
  right: -60px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}



.cardContainer .box:nth-child(10) .rightline{
  display: none; 
}
.cardContainer .box .lineconnect{
  width:220px;
}
.cardContainer .box:nth-child(10) .lineconnect{
  visibility: hidden;
}

@media only screen and (min-width: 1840px) and (max-width: 2060px) {
  
  .cardContainer .box:nth-child(9) .lineconnect{
    visibility: hidden; 
  }
  
  .cardContainer .box:nth-child(8) .rightline{
    visibility: visible; 
  }
  .cardContainer .box:nth-child(9) .leftline{
    visibility: visible; 
  }
  .cardContainer .box:nth-child(8) .adj-line{
    visibility: hidden; 
  }
}
@media only screen and (min-width: 1620px) and (max-width: 1839px){
  
  .cardContainer .box:nth-child(7) .rightline{
    visibility: visible; 
  }
  .cardContainer .box:nth-child(8) .leftline{
    visibility: visible; 
  }
  .cardContainer .box:nth-child(8) .lineconnect{
    visibility: hidden; 
  }
  .cardContainer .box:nth-child(9) .lineconnect{
    visibility: hidden; 
  }
  
  .cardContainer .box:nth-child(7) .adj-line{
    visibility: hidden; 
  }
}

@media screen and (min-width: 1400px) and (max-width: 1619px) {
  
  .cardContainer .box:nth-child(7) .leftline{
    visibility: visible; 
  }
  
  .cardContainer .box:nth-child(6) .rightline{
    visibility: visible;
  }
  .cardContainer .box:nth-child(6) .adj-line{
    visibility: hidden;
  }

  .cardContainer .box:nth-child(7) .lineconnect{
    visibility: hidden;
  }
  .cardContainer .box:nth-child(8) .lineconnect{
    visibility: hidden;
  }
  .cardContainer .box:nth-child(9) .lineconnect{
    visibility: hidden;
  }
  
}

@media screen and (min-width: 1180px) and (max-width: 1399px) {
  
  .cardContainer .box:nth-child(6) .leftline{
    visibility: visible; 
  }
  
  .cardContainer .box:nth-child(5) .rightline{
    visibility: visible;
  }

  .cardContainer .box:nth-child(6) .lineconnect{
    visibility: hidden;
  }

  .cardContainer .box:nth-child(7) .lineconnect{
    visibility: hidden;
  }
  .cardContainer .box:nth-child(8) .lineconnect{
    visibility: hidden;
  }
  .cardContainer .box:nth-child(9) .lineconnect{
    visibility: hidden;
  }
  
  .cardContainer .box:nth-child(5) .adj-line{
    visibility:  hidden;
  }
  
}

@media screen and (min-width: 960px) and (max-width: 1179px) {
 
  .cardContainer .box:nth-child(5) .leftline{
    visibility: visible; 
  }
  
  .cardContainer .box:nth-child(9) .leftline{
    visibility: visible; 
  }
  .cardContainer .box:nth-child(4n) .adj-line{
    visibility:  hidden;
  }
  
  .cardContainer .box:nth-child(4n) .rightline{
    visibility: visible;
  }

  

  .cardContainer .box:nth-child(9) .lineconnect{
    visibility: hidden;
  }
  

}
@media screen and (min-width: 755px) and (max-width: 959px) {
  .cardContainer .box:nth-child(3n) .adj-line{
    visibility:  hidden;
  }
  
  .cardContainer .box:nth-child(4) .leftline{
    visibility: visible; 
  }

  .cardContainer .box:nth-child(7) .leftline{
    visibility: visible; 
  }
  
  .cardContainer .box:nth-child(3n) .rightline{
    visibility: visible;
  }

  
  .cardContainer .box:nth-child(10) .leftline{
    visibility: visible;
  }
  

}

@media screen and (min-width: 520px) and (max-width: 754px) {
  
  .cardContainer .box:nth-child(3) .leftline{
    visibility: visible; 
  }

  .cardContainer .box:nth-child(5) .leftline{
    visibility: visible; 
  }
  .cardContainer .box:nth-child(7) .leftline{
    visibility: visible; 
  }
  .cardContainer .box:nth-child(9) .leftline{
    visibility: visible; 
  }
  .cardContainer .box:nth-child(2) .rightline{
    visibility: visible;
  }
  .cardContainer .box:nth-child(4) .rightline{
    visibility: visible;
  }
  .cardContainer .box:nth-child(6) .rightline{
    visibility: visible;
  }

  .cardContainer .box:nth-child(8) .rightline{
    visibility: visible;
  }
  .cardContainer .box:nth-child(2) .adj-line{
    visibility:  hidden;
  }
  .cardContainer .box:nth-child(4) .adj-line{
    visibility:  hidden;
  }
  .cardContainer .box:nth-child(6) .adj-line{
    visibility:  hidden;
  }
  .cardContainer .box:nth-child(8) .adj-line{
    visibility:  hidden;
  }
  

}



@media screen  and (max-width: 519px) {
  
  .cardContainer .box:not(:first-child) .leftline{
    visibility: visible; 
  }

  
  .cardContainer .box:not(:last-child) .rightline{
    visibility: visible;
  }
  .cardContainer .box:not(:last-child) .adj-line{
    visibility:  hidden;
  }
  
  
  

}












